footer {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}

footer h4 {
  font-size: 1em;
  font-weight: 500;
  color: #b5b5b5;
}

footer h5 {
  margin-top: 21px;
  font-size: 0.875em;
  font-weight: 500;
  color: #666666;
}

footer .area__subscribe {
  margin-top: 3rem;
}

footer .area__subscribe input {
  border: 2px solid #f5f5f5;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 0.75em;
  font-weight: 500;
  color: #666666;
  width: 216px;
  height: 50px;
}

footer .area__subscribe input::-webkit-input-placeholder {
  color: #b3b3b3;
}

footer .area__subscribe input:-ms-input-placeholder {
  color: #b3b3b3;
}

footer .area__subscribe input::-ms-input-placeholder {
  color: #b3b3b3;
}

footer .area__subscribe input::placeholder {
  color: #b3b3b3;
}

footer .area__subscribe button {
  width: 124px;
  height: 50px;
  border: 2px solid #f5f5f5;
  border-radius: 4px;
  background: none;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3b3;
  outline: none;
  margin-left: 15px;
}

footer .area__subscribe button:hover {
  border: 2px solid #a1c3fa;
}

footer .area__subscribe button:active {
  background: #e6e6e6;
}

footer .footer__detail {
  border-top: 2px solid #f5f5f5;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}

footer .footer__detail .row {
  height: 90px;
  width: 100%;
}

footer .footer__detail .row .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer__detail .row .col-4 h4 {
  margin: auto 40px auto 0px;
  font-size: 0.875em;
  color: #b8b8b8;
}

footer .footer__detail .row .col-4 .icon__footer {
  margin: auto 30px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer__detail .row .col-4 .icon__footer img {
  cursor: pointer;
}
